@media screen and (min-width:600px) and (max-width:799px) {
    .header {
	   	height: 95px;
	}
    
    .title-logo {
     text-align: center; 
    }
    
    .play-window {
        padding-top: 50px;
        height: 140px;
    }
    
    .player {
        left: 27%;
        right: 27%;
    }
    
    .carousel-wrapper {
        padding-top: 0;
    }
    
    .phone-tmp {
        padding-top: 20px;
        padding-bottom: 35px;
        float: right;
    }
    
    .phone-tmp img {
        width: 100px;
    }
    
    .author {
        position: absolute;
        left: 17%;
    }
    
    .socials {
        float: right;
        padding-right: 100px;
    }
    
    .app-store {
        float: none;
        padding-top: 51px;
    }
    
    .app-store img {
        width: 120px;
    }
    
    .google-play {
		float: left;
	}
	
	.google-play img {
	    width: 120px;
	}
    
    .fb-like {
        float: left;
    }
    
    .fb-like iframe {
        height: 72px;
    }
    
    .soundcloud-like {
        float: right;
    }
    
    .soundcloud-like iframe {
        height: 72px;
    }
    
    .back-top {
		display: none;
	}
	
	.contact-us {
	    display: none;
		padding: 0;
		width: auto;
		-webkit-transform-origin: top right;
		-moz-transform-origin: top right;
		-ms-transform-origin: top right;
		transform-origin: top right;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		position: fixed;
    	right: 0px;
    	bottom: 14px;
	}
	
	.modal-body input {
    	padding: 30px 0px 10px;
	}
	
	.modal.fade .modal-dialog {
		top: 255px;
		padding-left: 15px;
    	padding-right: 15px;
	}
	
	.modal-dialog .modal-content {
    	background-color: rgba(54, 54, 54, 0.75);
	}
	
	.modal-content .modal-footer {
	    width: 100%;
	    text-align: center;
	    padding-top: 40px;
	}

}