@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) { 
    
    #canvas {
		display: none;
	}
    
    .carousel-wrapper {
        padding-top: 5px;
    }

    a.link_button {
        padding: 4px 8px;
        font-size: 14px;
        font-weight: 300;
    }

	.item {
    	opacity: 0.85;
    	width: 238px;
        height: 238px;
    	border: 1px solid;
        border-radius: 200px;
    }
    
    .carousel-inner > .item > img {
        width: 230px;
        margin-top: 3px;
    }
    /*___WEATHER___*/
    
    .weather-wrap {
        left: 23px;
    }
    
    .panel {
        width: 80px;
        height: 80px;
        padding: 5px;
    }
    
    #loadSpin {
		padding-top: 20px;
	}
	
	.fa-spinner{
		font-size: 30px;
	}
    
    .icon, .iconBox {
        font-size: 2.0rem;
        line-height: 3rem;
    }
    
    .location {
        font-size: 1.0rem;
        font-family: 'Josefin Sans', sans-serif;
    }
    
    .weather {
        font-weight: bold;
        font-size: 1.5rem;
        color: #fff;
    }
    
    /*______________*/

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) { 
    
    #canvas {
		display: none;
	}
    
    .item {
    	opacity: 0.85;
    	width: 238px;
        height: 238px;
    	border: 1px solid;
        border-radius: 200px;
    }
    
    .carousel-inner > .item > img {
        width: 230px;
        margin-top: 3px;
    }
    
}