@media screen and (min-width:480px) and (max-width:599px) {
	.header {
	   	height: 45px;
	}
	.links {
        text-align: center;
		
	}
	.links ul li {
	    margin-bottom: 15px;
	}
	
	.links ul li a {
	    margin-right: 0;
	}
	a.link_button {
	    padding: 3px 5px;
	}
	
	.title-logo {
		text-align: center;
	}
	
	/*.container-fluid {*/
	/*    padding-top: 10px;*/
	/*}*/
	
	.title-logo {
	    padding-top: 10px;
	}
	
	.play-window {
	    padding-top: 0;
	    height: 70px;
	}
	
	.player-content {
	    height: 50px;
        width: auto;
        /* padding: 0px; */
        position: absolute;
        left: 60px;
        right: 60px;
	}
	
	.player {
	    padding: 0px;
        height: 30px;
        left: 80px;
        right: 80px;
        bottom: 20px;
	}
	
	.play-btn {
	    width: 24px;
        height: 23px;
	    margin-left: 3px;
        margin-top: 3px;
        margin-right: 3px;
	}
	
	#play {
    	width: 60px;
        height: 60px;
        bottom: -15px;
        left: 6px;
	}
	
	#pause {
	    width: 60px;
        height: 60px;
        bottom: -15px;
        left: 6px;
	}
	
	.fa-play {
	    font-size: 20px;
        margin-left: -2px;
        margin-top: -6px;
	}
	
	.fa-pause {
    	font-size: 20px;
        margin-left: -4px;
        margin-top: -6px;
	}
	
	.fa-volume-up {
	    font-size: 18px;
        margin-top: 2px;
	}
	
	.fa-volume-off {
	     font-size: 20px;
        margin-left: -4px;
        margin-top: 1px;
	}
	
	.fa-stop {
	    font-size: 15px;
	    margin-top: 3px;
	}
	
	.author {
	    font-size: 10px;
	}
	
	.fa-soc {
	    font-size: 10px;
	    font-size: 20px;
        margin-top: 5px;
	}
	
	.containerLarge {
	    height: 234px;
	}
	
	.cover {
	    border: 1px solid black;
	}
	
	.coverLarge {
	    height: 190px;
	    /*display: none;*/
	}
	
	.carousel-wrapper {
		/*display: none;*/
		padding-top: 30px;
		
	}
	.carousel-inner.carousel-fade {
    	width: 100%;
    	/*width: 153px;*/
	}
	
	.carousel-inner > .item.active.left, .carousel-inner > .item.active.right {
		/*opacity: 0;*/
		display: none;
	}
	
	.item {
    	opacity: 0.85;
    	width: 253px;
        height: 253px;
    	border: 1px solid;
        border-radius: 200px;
    }
    
    .carousel-inner > .item > img {
	    width: 245px;
	    margin-top: 3px;
    }
    
    .carousel-fade .carousel-inner .item {
	    /*transition-duration: 2s;*/
	}
    
    .phone-tmp {
    	/*padding-top: 10px;*/
    	display: none;
	}
	
	.footer {
		/*padding-top: 20px;*/
	}
	
	.address {
     margin-bottom: 0; 
	}
	
	.app-store {
		display: none;
	}
	
	.google-play {
		display: none;
	}
	
	.fb-like {
		display: none;
	}
	
	.soundcloud-like {
		display: none;
	}
	
	.footer {
		position: absolute;
    	bottom: 5px;
	}
	
	
}